body {
  background-color: rgb(41, 41, 41);
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.playerAreas {
  display: grid;
  grid-template: repeat(auto-fit, minmax(200px, 400px)) / repeat(
      auto-fit,
      minmax(200px, 400px)
    );

  gap: 50px;

  justify-content: center;
}

.playerArea {
  aspect-ratio: 1 / 1; /* Ensures the height matches the width */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playerBoard {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  flex: 1;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 2px;

  font-size: xx-large;
  background-color: rgb(83, 83, 83);
}

.cell:hover {
  background-color: aqua;
}

.playerName {
  font-weight: bold;
}

.logs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logsHeader{
  font-size: xx-large;
}

.logsContent {
  overflow: scroll;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  max-height: 300px;
  max-width: 200px;
}
